:root {
  // MAIN COLORS
  --accent-color: #a18a68;
  --black-color: #000000;
  --white-color: #ffffff;

  // NEUTRAL COLOR
  --dark-gray: #707070;
  --gray: #d8d8d8;
  --light-gray: #efefef;

  // SERVICE COLOR
  --error-color: #d82700;

  --slider-handle-width: 0.3rem;
  --slider-handle-height: 2rem;
  --slider-handle-bg: var(--black-color);
  --slider-connect-bg: var(--black-color);
  --slider-bg: var(--gray);
  --slider-radius: 0;

  // Ligth theme

  --main-background-color-light: #ffffff;
  --text-color-light: var(--black-color);

  // Dark theme

  --main-background-color-dark: #4c4c4c;
  --accent-color-dark: #daddd8;
  --white-color-dark: #daddd8;
  --gray-color-dark: #daddd8;
  --dark-gray-color-dark: #daddd8;
  --light-gray-color-dark: #daddd8;
}
